.idea
web/media/**
build/**
secret/**
lib/**

*.exe
web/proxy/*
web/users/*
web/subs/*
scratch/*
web/js/ignored

web/injection.html
web/fluid.html
web/preview.html
build_local.bat
build_local.sh
deploy.sh
config.json
