#tab_chat_new_message_indicator {
    width: 6px;
    height: 6px;
    display: none;
    border-radius: 20px;
    background-color: var(--red_2);
    /* margin-left: 2px; */
}

#tab_chat_new_message_indicator.show {
    display: flex;
}

#content_chat {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    row-gap: 12px;
}

#chat_message_list_root {
    display: flex;
    position: relative;
    box-sizing: border-box;
    /* overflow: hidden; */
    flex-direction: column;

    /* padding: 4px 0; */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--bg_5) var(--bg_2);
}

#chat_message_list {
    width: 100%;
    /* height: 100%; */
    /* row-gap: 4px; */
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
}

.chat_message {
    height: auto;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 10px;
    padding: 2px 12px 2px 12px;
}


.chat_message.highlight,
.chat_message:hover {
    background-color: var(--bg_4);
    transition-delay: 300ms;
    transition: all 100ms ease;
}

.chat_message_avatar {
    min-height:  38px;
    height: 38px;
    min-width: 38px;
    width: 38px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 0px var(--bg_0);
}

.chat_message_avatar img {
    width:  100%;
    height: 100%;
    object-fit: cover;
}

.chat_message_right {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    row-gap: 2px;
}

.chat_message_info {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.chat_message_username {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--gray_2);
}

.chat_message_date {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--fg_6);
}

.chat_message_text {
    color: var(--fg_2);
    font-size: 16px;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.2;
    overflow-y: hidden;
}

.chat_sub_message {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 2px 12px 2px 12px;
    column-gap: 10px;
}

.chat_sub_message.highlight,
.chat_sub_message:hover {
    background-color: var(--bg_4);
    transition-delay: 300ms;
    transition: all 100ms ease;
}

.chat_sub_message_date {
    display: flex;
    width: 38px;
    min-width: 38px;
    align-items: center;
    font-size: 13px;
    color: transparent;
    user-select: none;
}

.chat_sub_message.highlight .chat_sub_message_date,
.chat_sub_message:hover .chat_sub_message_date {
    color: var(--fg_6);
    transition-delay: 300ms;
    transition: all 100ms ease;
}

.chat_sub_message_text {
    font-size: 16px;
    overflow-wrap: break-word;
    word-break: break-word;
    color: var(--fg_2);
    line-height: 1.2;
    overflow-y: hidden;
}

.chat_message a, .chat_sub_message a,
.chat_message a:visited, .chat_sub_message a:visited {
    color: var(--purple_2);
    text-decoration: none;
}

.chat_message a:hover, .chat_sub_message a:hover {
    text-decoration: underline;
}

#chat_input_container {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

#chat_send_button {
    height: calc(100% + 2px);
    width: 50px;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    margin-left: 6px;
    background-color: var(--aqua_2);
}

#chat_send_button:hover {
    background-color: var(--aqua_1);
}

#chat_send_button:active {
    background-color: var(--aqua_0);
}

