#tab_chat_new_message_indicator {
    width: 6px;
    height: 6px;
    border-radius: 20px;
    background-color: var(--red_2);
    /* margin-left: 2px; */
}

#content_chat {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

#chat_input_container {
    width: calc(100% - 12px);
    height: 30px;
    box-sizing: border-box;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 12px;
}

#chat_send_button {
    height: calc(100% + 2px);
    width: 50px;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    margin-left: 6px;
    background-color: var(--aqua_2);
}

#chat_send_button:hover {
    background-color: var(--aqua_1);
}

#chat_send_button:active {
    background-color: var(--aqua_0);
}

#chat_text_content {
    width: 100%;
    height: calc(100% - 30px - 12px);
    border: 2px solid var(--bg_5);
    border-radius: 6px;
    display: block;
    box-sizing: border-box;
    color: var(--fg_0);
    padding: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
