html, body {
    background-color: #1d2021;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    src: url('../fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    src: url('../fonts/Rubik-Bold.ttf');
}

html * {
    font-family: Rubik;
}

#root_panel {
    height: 100vh;
    column-gap: 6px;
    row-gap: 6px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 6px;
}

#left_panel {
    height: 100%;
    min-width: 700px;
    border-radius: 12px;
    row-gap: 12px;
    display: flex;
    box-sizing: border-box;
    scrollbar-width: none;
    flex: 2.3 1;
    overflow-y: auto;
    flex-direction: column;
    background-color: #282828;
    padding: 16px;
}

@media (max-width: 1200px) {
    #left_panel {
        height: auto;
    }
}


#player_area {
    width: 100%;
    height: 715px;
    min-height: 715px;
    border-radius: 6px;
    flex: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#url_area {
    width: 100%;
    height: auto;
    border: 2px solid #a89984;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex: none;
    flex-direction: column;
    background-color: #3c3836;
    padding: 6px;
}

#url_controls_container {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    display: flex;
}

#url_dropdown_button {
    width: 24px;
    height: 100%;
    border: none;
    border-radius: 6px;
    box-sizing: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fb4934; */
    background-color: #665c54;
}

#url_dropdown_button:hover {
    background-color: #7c6f64;
}

#url_dropdown_button:active {
    background-color: #928374;
}

#url_dropdown_button svg {
    height: 86%;
    width: 86%;
    fill: #1d2021;
    transform: rotate(180deg);
    transition: transform 100ms;
}

.url_area_expand #url_dropdown_button svg {
    transform: rotate(0deg);
}

#url_reset_button {
    width: 50px;
    height: 100%;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 3px 0px 0px #1d2021;
    box-sizing: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    transition: transform 80ms;
    background-color: #fb4934;
}

#url_reset_button:hover {
    background-color: #cc241d;
}

#url_reset_button:active {
    box-shadow: none;
    transform: translate(1px, 2px);
    transition: transform 80ms;
    background-color: #9d0006;
}

#url_reset_button svg {
    height: 56%;
    width: 56%;
    fill: #3c3836;
}

#url_reset_button:active svg {
    fill: #282828;
}

.fit_to_div {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
}

#url_input_container {
    width: 100%;
    height: 100%;
    margin-left: 6px;
    margin-right: 6px;
}

.input_area {
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
}

.input_area span {
    border-radius: 6px 0px 0px 6px;
    display: flex;
    box-sizing: border-box;
    white-space: nowrap;
    padding:  0 16px 0 16px;
    background-color: #ebdbb2;
    align-items: center;
}

.input_area input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px 6px 6px 0px;
    box-sizing: border-box;
    padding:  0 16px 0 16px;
    background-color: #fbf1c7;
}

.input_area input:focus {
    outline: 2px solid #928374;
}

#url_right_buttons_container {
    width: 130px;
    height: 100%;
    border-radius: 6px;
    display: flex;
    overflow: show;
}

#url_set_button {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 1px 3px 0px 0px #1d2021;
    border-radius: 6px 0 0 6px;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ec07c;
    transition: transform 80ms;
}

#url_set_button:hover {
    background-color: #689d6a;
}

#url_set_button:active {
    box-shadow: none;
    transform: translate(1px, 2px);
    transition: transform 80ms;
    background-color: #427b58;
}

#url_set_button svg {
    height: 60%;
    width: 60%;
    /* fill: #282828; */
    fill: #3c3836;
}

#url_set_button:active svg {
    /* fill: #1d2021; */
    fill: #282828;
}

#url_add_playlist_button {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 1px 3px 0px 0px #1d2021;
    border-radius: 0 6px 6px 0;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83a598;
    transition: transform 80ms;
}

#url_add_playlist_button:hover {
    background-color: #458588;
}

#url_add_playlist_button:active {
    box-shadow: none;
    transform: translate(1px, 2px);
    background-color: #076678;
    transition: transform 80ms;
}

#url_add_playlist_button svg {
    height: 70%;
    width: 70%;
    /* fill: #282828; */
    fill: #3c3836;
}

#url_add_playlist_button:active svg {
    /* fill: #1d2021; */
    fill: #282828;
}

#url_dropdown_container {
    width: 100%;
    height: 0;
    row-gap: 6px;
    display: flex;
    box-sizing: border-box;
    transition: height 200ms ease-out, padding-top 200ms;
    overflow: hidden;
    flex-direction: column;
}

.url_area_expand #url_dropdown_container {
    height: 150px;
    padding-top: 6px;
}

#url_dropdown_top {
    height: 33.333%;
    width: 100%;
    column-gap: 6px;
    display: flex;
    box-sizing: border-box;
}

#url_select_subtitle_button  {
    height: 100%;
    aspect-ratio: 1.0;
    border-radius: 6px;
    box-shadow: 1px 3px 0px 0px #1d2021;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 80ms;
    background-color: #b8bb26;
}

#url_select_subtitle_button:hover {
    background-color: #98971a;
}

#url_select_subtitle_button:active {
    box-shadow: none;
    transform: translate(1px, 2px);
    transition: transform 80ms;
    background-color: #79740e;
}

#url_select_subtitle_button svg {
    height: 20px;
    width: 20px;
    fill: #282828;
}

#url_select_subtitle_button:active svg {
    fill: #1d2021;
}

#url_dropdown_bottom {
    height: 33.333%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

#proxy_container {
    height: 100%;
    margin-left: 24px;
}

#url_dropdown_middle {
    height: 33.333%;
    display: flex;
}

#as_playlist_container {
    margin-left: 24px;
}

.toggle_root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle_text {
    width: 130px;
    user-select: none;
    margin-left: 8px;
    color: #f9f5d7;
    font-weight: 550;
    white-space: nowrap;
}

.toggle_switch {
    width: 60px;
    height: 30px;
    border: 2px solid #ebdbb2;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #504945;
}

.toggle_circle {
    height: calc(100% - 4px);
    aspect-ratio: 1.0;
    border-radius: 100px;
    left: 0;
    position: absolute;
    margin-left: 2px;
    background-color: #ebdbb2;
    transition: 250ms ease-out;
}

.toggle_active .toggle_circle {
    left: calc(100% - 4px);
    transform: translateX(-100%);
    transition: 250ms ease-out;
}

.toggle_active {
    background-color: #98971a;
    transition: 250ms ease-out;
}

#users_area {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0px #1d2021;
    display: flex;
    box-sizing: border-box;
    flex: none;
    padding: 16px;
    background-color: #3c3836;
}

#users_list {
    width: 100%;
    height: 100%;
    column-gap: 8px;
    row-gap: 8px;
    display: flex;
    margin-right: 16px;
    overflow: scroll;
    background-color: #3c3836;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
}

.user_box {
    /* height: calc(100% - 4px); */
    height: calc(86% - 4px);
    aspect-ratio: 1.0;
    border-radius: 8px;
    border: 2px solid #a89984;
    /* tabindex: -1; */
    /* margin-top: 1em; */
    /* background-color: #504945; */
    overflow: hidden;
    z-index: 0;
}

.user_box_top {
    width: 100%;
    height: 80%;
    border-bottom: 2px solid #a89984;
    position: relative;
}

.user_box_top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_box_change_avatar {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 4px;
    /* display: none; */
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    opacity: 0.0;
    /* background-color: #fbf1c7; */
    background-color: #504945;
    transition: opacity 0.2s ease-out;
}

.user_box_change_avatar:hover {
    /* background-color: #ebdbb2; */
    background-color: #665c54;
}

.user_box_change_avatar:active {
    /* background-color: #d5c4a1; */
    background-color: #7c6f64;
}

.user_box:hover .user_box_change_avatar {
    /* display: flex; */
    opacity: 0.6;
    transition: opacity 0.2s ease-out;
}

.user_box_bottom {
    width: 100%;
    height: 20%;
    position: relative;
}

.user_box_bottom input {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    /* padding-left: 8px; */
    font-size: 16px;
    font-weight: 600;
    color: #fbf1c7;
}

.user_box_online .user_box_bottom input {
    background-color: #79740e;
}

.user_box_offline .user_box_bottom input {
    background-color: #665c54;
}

.user_box_online .user_box_edit_name_button {
    background-color: #79740e;
}

.user_box_online .user_box_edit_name_button:hover {
    display: block;
    background-color: #98971a;
}

.user_box_online .user_box_edit_name_button:active {
    border: 1px solid #b8bb26;
    background-color: #b8bb26;
}

.user_box_offline .user_box_edit_name_button {
    background-color: #665c54;
}

.user_box_offline .user_box_edit_name_button:hover {
    display: block;
    background-color: #7c6f64;
}

.user_box_offline .user_box_edit_name_button:active {
    border: 1px solid #928374;
    background-color: #928374;
}

.user_box_edit_name_button {
    height: calc(100% - 7px);
    aspect-ratio: 1.0;
    border-radius: 4px;
    border: none;
    top: 0;
    right: 0;
    position: absolute;
    display: none;
    margin: 3px;
}

.user_box:hover .user_box_edit_name_button {
    display: block;
}

/* TOOD(kihau): Maybe catch focus on user_box instead of just input box from user_box_bottom? */
.user_box_bottom input:focus+.user_box_edit_name_button {
    display: block;
}

.user_box_edit_name_button svg {
    height: 100%;
    width: 100%;
    fill: #1d2021;
}

#users_right_panel {
    height: 100%;
    width: 106px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

#users_online {
    background-color: #79740e;
}

#users_offline {
    margin-top: 6px;
    background-color: #665c54;
}

.users_indicator {
    height: 34px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #a89984;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.users_indicator svg {
    width: 40%;
    height: calc(100% - 10px);
    fill: #1d2021;
}

.users_indicator span {
    width: 60%;
    height: calc(100% - 8px);
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #fbf1c7;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

#users_settings_button {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 6px;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    background-color: #3c3836;
}

#users_settings_button svg {
    width: 100%;
    height: 100%;
    fill: #fbf1c7;
}

#users_settings_button:hover {
    background-color: #504945;
}

#users_settings_button:active {
    border: 2px solid #a89984;
}

#right_panel {
    height: 100%;
    border-radius: 12px;
    min-width: 500px;
    display: flex;
    position: relative;
    flex: 1 1;
    background-color: #282828;
    flex-direction: column;
}

#right_panel_tabs {
    height: 60px;
    width: calc(100% - 32px);
    column-gap: 6px;
    display: flex;
    margin: 16px 16px 0 16px;
}

.right_panel_tab {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0px #1d2021;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    background-color: #32302f;
    /* color: #ebdbb2; */
    color: #d5c4a1;
    transition: height 100ms ease;
}

.right_panel_tab:hover {
    /* color: #fbf1c7; */
    color: #ebdbb2;
}

.right_panel_tab:active {
    background-color: #3c3836;
    /* color: #fbf1c7; */
}

.right_panel_tab_selected {
    height: calc(100% + 12px);
    background-color: #3c3836;
    transition: height 100ms ease;
}

#right_panel_content {
    height: 100%;
    width: calc(100% - 32px);
    border-radius: 8px;
    /* #1d2021; */
    box-shadow: 2px 4px 4px #1d2021;
    position: relative;
    margin: 0 16px 16px 16px;
    background-color: #3c3836;
}

.content_view {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
    position: absolute;
    padding: 16px;
}

.content_view_selected {
    visibility: visible;
}

#room_now_playing {
    height: 30px;
}

#room_entry_title {
    height: 30px;
}

#room_upload_file {
    color: #d5c4a1;
}

.placeholder {
    color: #d5c4a1;
}

@keyframes sway {
    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(8deg);
    }
}

.construction_anim {
    width: 300px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    animation: sway 2.4s infinite;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}
