@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    src: url('../fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: bold;
    src: url('../fonts/Rubik-Bold.ttf');
}

html * {
    font-family: Rubik, sans-serif;
}

:root {
    /* Standard gruvbox palette. */
    --red_0:    #9d0006;
    --green_0:  #79740e;
    --yellow_0: #b57614;
    --blue_0:   #076678;
    --purple_0: #8f3f71;
    --aqua_0:   #427b58;
    --orange_0: #af3a03;
    --gray_0:   #7c6f64;

    --red_1:    #cc241d;
    --green_1:  #98971a;
    --yellow_1: #d79921;
    --blue_1:   #458588;
    --purple_1: #b16286;
    --aqua_1:   #689d6a;
    --orange_1: #d65d0e;
    --gray_1:   #a89984;

    --red_2:    #fb4934;
    --green_2:  #b8bb26;
    --yellow_2: #fabd2f;
    --blue_2:   #83a598;
    --purple_2: #d3869b;
    --aqua_2:   #8ec07c;
    --orange_2: #fe8019;
    --gray_2:   #928374;

    --bg_0: #1d2021;
    --bg_1: #282828;
    --bg_2: #32302f;
    --bg_3: #3c3836;
    --bg_4: #504945;
    --bg_5: #665c54;
    --bg_6: #7c6f64;

    --fg_0: #f9f5d7;
    --fg_1: #fbf1c7;
    --fg_2: #f2e5bc;
    --fg_3: #ebdbb2;
    --fg_4: #d5c4a1;
    --fg_5: #bdae93;
    --fg_6: #a89984;

    /* Custom colors that extend gruvbox. */
    --bg_custom_0: #5a534f;
    --bg_custom_1: #363331;

    --red_custom_0: #5a3a36;
    --red_custom_1: #7c3d35;

    --aqua_custom_0: #57684d;
    --aqua_custom_1: #494e41;
    --aqua_custom_2: #9dd389;

    --dim_0: #00000077;
}

#settings_menu_modal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: var(--dim_0);
    align-items: center;
    justify-content: center;
    display: none;
}

#settings_menu_modal.show {
    display: flex;
}

#settings_menu_root {
    width: 900px;
    height: 700px;
    background-color: var(--bg_2);
    border-radius: 12px;
    border: 1px solid var(--bg_4);
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

#settings_menu_header {
    height: 28px;
    padding-left: 8px;
    display: flex;
    color: var(--fg_3);
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

#settings_menu_close_button {
    width: 32px;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    background-color: var(--bg_5);
}

#settings_menu_close_button:hover {
    background-color: var(--bg_4);
}

#settings_menu_close_button:active {
    background-color: var(--bg_3);
}

#settings_menu_close_button svg {
    height: 16px;
    width: 16px;
    fill: var(--fg_2);
}

#settings_menu_close_button:hover svg {
    fill: var(--red_1);
}

#settings_menu_close_button:active svg {
    fill: var(--red_2);
}

#settings_menu_header_separator {
    width: 100%;
    height: 1px;
    background-color: var(--bg_5);
}

#settings_token_area {
    display: flex;
    column-gap: 6px;
}

#settings_token_copy_button {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 0 6px;
    align-items: center;
    background-color: var(--fg_6);
}

#settings_token_copy_button:hover {
    background-color: var(--fg_5);
}

#settings_token_copy_button:active {
    background-color: var(--fg_4);
}

#settings_token_copy_button svg {
    width: 24px;
    height: 24px;
    fill: var(--bg_0);
}

#settings_token_copy_button span {
    font-weight: bold;
    color: var(--bg_0);
}

#settings_token_update {
    height: 36px;
}

#settings_delete_account {
    width: 360px;
    border: 3px solid var(--red_0);
    border-radius: 8px;
    position: relative;
}

#settings_delete_account > label {
    transform: translateY(-50%);
    padding: 0 4px;
    left: 16px;
    background-color: var(--bg_2);
    color: var(--red_1);
    position: absolute;
    z-index: 3;
}

#settings_delete_account_inner {
    height: 68px;
    display: flex;
    box-sizing: border-box;
    column-gap: 8px;
    padding: 12px;
}

#settings_delete_account_inner button {
    width: 48px;
}

#settings_delete_account_inner button svg {
    fill: var(--red_1);
}

#settings_delete_account_inner button:hover svg {
    fill: var(--red_2);
}

#connection_lost_popup {
    width: 99%;
    height: 16px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px 6px 0 0;
    background-color: var(--red_2);
    color: var(--bg_0);
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    display: none;
}

#connection_lost_popup.show {
    display: block
}

#connection_lost_emote {
    font-size: 11px;
}

#animated_avatars_toggle {
    width: 200px;
}

.disable_image_animations .dynamic_image img {
    visibility: hidden;
}

.disable_image_animations .dynamic_image canvas {
    visibility: visible;
}

.disable_image_animations .dynamic_image:hover img {
    visibility: visible;
}

.disable_image_animations .dynamic_image:hover canvas {
    visibility: hidden;
}

.dynamic_image {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.dynamic_image img {
    width: 100%;
    height: 100%;
    /* NOTE(kihau): Maybe object-fit should be used instead (just like before)? */
    object-fit: cover;
    position: absolute;
    visibility: visible;
}

.dynamic_image canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
}

#root_panel {
    height: 100vh;
    column-gap: 6px;
    row-gap: 6px;
    display: flex;
    box-sizing: border-box;
    padding: 6px;
    background-color: var(--bg_0);
}

#left_panel {
    height: 100%;
    border-radius: 12px;
    row-gap: 12px;
    display: flex;
    box-sizing: border-box;
    scrollbar-width: none;
    flex: 1 1 64%;
    overflow-y: auto;
    flex-direction: column;
    background-color: var(--bg_1);
    padding: 16px;
}

#left_panel:-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

#player_area {
    width: 100%;
    height: 715px;
    min-height: 715px;
    border-radius: 6px;
    flex: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 2px 2px 4px 0px var(--bg_0);
}

#entry_area {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex: none;
    flex-direction: column;
    background-color: var(--bg_3);
    padding: 8px;
    box-shadow: 2px 2px 4px 0px var(--bg_0);
}

#entry_controls_container {
    width: 100%;
    height: 42px;
    display: flex;
    column-gap: 6px;
    box-sizing: border-box;
}

#entry_dropdown_button {
    width: 24px;
    height: 100%;
    background-color: var(--bg_6);
}

#entry_dropdown_button:hover {
    background-color: var(--bg_5);
}

#entry_dropdown_button:active {
    background-color: var(--bg_4);
}

#entry_dropdown_button svg {
    height: 12px;
    width: 12px;
    fill: var(--bg_0);
    transition: transform 100ms;
}

#entry_area.expand #entry_dropdown_button svg {
    transform: rotate(180deg);
}

#entry_reset_button {
    width: 50px;
    height: 100%;
    border: none;
    background-color: var(--red_2);
}

#entry_reset_button:hover {
    background-color: var(--red_1);
}

#entry_reset_button:active {
    background-color: var(--red_0);
}

#entry_reset_button svg {
    height: 27px;
    width: 27px;
    fill: var(--bg_3);
}

#entry_reset_button:active svg {
    fill: var(--bg_1);
}

.fit_to_div {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
}

#entry_add_to_top_toggle {
    min-width: 136px;
}

#entry_url_container {
    width: 100%;
    height: 100%;
}

#entry_youtube_toggles_group {
    width: auto;
    display: flex;
    column-gap: inherit;
}

#entry_youtube_inputs_group {
    width: 100%;
    display: flex;
    column-gap: inherit;
}

#entry_youtube_search_toggle {
    min-width: 146px;
}

#entry_youtube_playlist_toggle {
    min-width: 146px;
}

#entry_right_buttons_container {
    width: 130px;
    height: 100%;
    border-radius: 6px;
    display: flex;
    overflow: visible;
}

#entry_set_button {
    width: 100%;
    height: 100%;
    border-radius: 6px 0 0 6px;
    z-index: 1;
    background-color: var(--aqua_2);
}

#entry_set_button:hover {
    background-color: var(--aqua_1);
}

#entry_set_button:active {
    box-shadow: none;
    background-color: var(--aqua_0);
}

#entry_set_button svg {
    height: 16px;
    width: 16px;
    fill: var(--bg_3);
}

#entry_set_button:active svg {
    fill: var(--bg_1);
}

#entry_add_playlist_button {
    width: 100%;
    height: 100%;
    border-radius: 0 6px 6px 0;
    z-index: 2;
    background-color: var(--blue_2);
}

#entry_add_playlist_button:hover {
    background-color: var(--blue_1);
}

#entry_add_playlist_button:active {
    background-color: var(--blue_0);
}

#entry_add_playlist_button svg {
    height: 25px;
    width: 25px;
    fill: var(--bg_3);
}

#entry_add_playlist_button:active svg {
    fill: var(--bg_1);
}

#entry_dropdown_container {
    width: 100%;
    height: 0;
    row-gap: 6px;
    display: flex;
    box-sizing: border-box;
    transition: height 200ms ease-out, padding-top 200ms;
    overflow: hidden;
    flex-direction: column;
}

#entry_area.expand #entry_dropdown_container {
    height: 308px;
    padding-top: 6px;
}

.entry_section {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid var(--bg_5);
    display: flex;
    padding: 8px;
    border-radius: 4px;
    flex-direction: column;
    row-gap: 8px;
}

.entry_section legend {
    color: var(--fg_5);
    padding: 0 6px;
    font-size: 14px;
}

.entry_section_group {
    width: 100%;
    height: 46px;
    display: flex;
    box-sizing: border-box;
    column-gap: 6px;
}

#entry_select_subtitle_button  {
    height: 100%;
    aspect-ratio: 1.0;
    background-color: var(--green_2);
}

#entry_select_subtitle_button:hover {
    background-color: var(--green_1);
}

#entry_select_subtitle_button:active {
    background-color: var(--green_0);
}

#entry_select_subtitle_button svg {
    height: 20px;
    width: 20px;
    fill: var(--bg_1);
}

#entry_select_subtitle_button:active svg {
    fill: var(--bg_0);
}

/* Toggle widget -------------------------------------------------------------------------- */

.widget_readonly_input,
.widget_input {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    z-index: 2;
    position: relative;
    align-items: center;
}

.widget_readonly_input input,
.widget_input input {
    width: 100%;
    height: 100%;
    padding: 16px;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid var(--fg_6);
    box-sizing: border-box;
    background-color: var(--bg_2);
    color: var(--fg_1);
    transition: all 0.2s ease;
    caret-color: transparent;
}

.widget_input input:hover {
    border: 2px solid var(--fg_4);
    background-color: var(--bg_3);
}

.widget_input input:focus {
    outline: none;
    border-color: var(--blue_2);
    background-color: var(--bg_3);
    box-shadow: 0 0 0 2px var(--blue_1);
    caret-color: auto;
}

.widget_readonly_input input:not(:placeholder-shown),
.widget_input input:not(:placeholder-shown) {
    background-color: var(--bg_3);
}

.widget_readonly_input label,
.widget_input label {
    max-width: 80%;
    left: 16px;
    top: 50%;
    font-size: 14px;
    padding: 0 4px;
    position: absolute;
    pointer-events: none;
    background-color: var(--bg_2);
    color: var(--fg_4);
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

.widget_input input:hover + label {
    background-color: var(--bg_3);
    color: var(--fg_3);
}

.widget_input input:focus + label {
    background-color: var(--bg_3);
}

.widget_readonly_input input:not(:placeholder-shown) + label,
.widget_input input:focus + label,
.widget_input input:not(:placeholder-shown) + label {
    max-width: 100%;
    top: 0;
    transform: translateY(-50%) scale(0.90);
    font-weight: bold;
    background-color: var(--bg_3);
}

.widget_readonly_input input:not(:placeholder-shown) + label,
.widget_input input:not(:placeholder-shown) + label {
    color: var(--fg_6);
}

.widget_input input:hover + label {
    color: var(--fg_3);
}

.widget_input input:focus + label {
    color: var(--blue_2);
}

.widget_input_extra_button input {
    border-radius: 8px 0 0 8px;
    z-index: 1;
}

.widget_input_extra_button input:focus {
    z-index: 2;
}

.widget_input_extra_button label {
    z-index: 2;
}

.widget_input_extra_button button {
    height: 100%;
    width: 36px;
    border: 2px solid var(--fg_6);
    background-color: var(--bg_2);
    border-radius: 0 8px 8px 0;
    margin-left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    color: var(--fg_5);
    font-weight: bold;
}

.widget_input_extra_button button svg {
    height: 16px;
    width: 16px;
    fill: var(--fg_5);
}

.widget_input_extra_button button:hover {
    border: 2px solid var(--fg_4);
    background-color: var(--bg_3);
    z-index: 1;
    color: var(--fg_4);
}

.widget_input_extra_button button:hover svg {
    fill: var(--fg_4);
}

.widget_input_extra_button button:active {
    border-color: var(--blue_2);
    background-color: var(--bg_4);
    box-shadow: 0 0 0 2px var(--blue_1);
    z-index: 1;
    color: var(--green_2);
}

.widget_input_extra_button button:active svg {
    fill: var(--green_2);
}

/* Toggle widget -------------------------------------------------------------------------- */

.widget_readonly_toggle,
.widget_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_4);
    border-radius: 6px;
    gap: 8px;
    padding: 8px 16px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.widget_readonly_toggle {
    cursor: auto;
}

.widget_toggle:hover {
    background-color: var(--bg_5);
}

.widget_readonly_toggle,
.widget_toggle span {
    color: var(--fg_3);
    font-weight: normal;
    font-size: 14px;
    user-select: none;
}

.widget_toggle:active span {
    color: var(--fg_1);
}

/* Toggle circle container */
.widget_readonly_toggle > div,
.widget_toggle > div {
    width: 56px;
    height: 24px;
    border: 2px solid var(--fg_3);
    border-radius: 12px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--bg_4);
    transition: all 0.3s ease;
}

.widget_toggle:active > div {
    border: 2px solid var(--fg_1);
    background-color: var(--bg_5);
}

.widget_readonly_toggle.active > div,
.widget_toggle.active > div {
    background-color: var(--green_1);
    border-color: var(--green_1);
}

.widget_toggle.active:active > div {
    background-color: var(--green_2);
    border-color: var(--green_2);
}

/* Toggle circle */
.widget_readonly_toggle > div div,
.widget_toggle > div div {
    height: calc(100% - 4px);
    aspect-ratio: 1.0;
    border-radius: 8px;
    left: 0;
    position: absolute;
    margin-left: 2px;
    background-color: var(--fg_3);
    transition: 250ms ease-out;
}

.widget_toggle:active > div div {
    background-color: var(--fg_1);
}

.widget_readonly_toggle.active > div div,
.widget_toggle.active > div div {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}

/* Button widget -------------------------------------------------------------------------- */

.widget_button {
    box-shadow: 1px 3px 0px 0px var(--bg_0);
    border: none;
    border-radius: 6px;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 80ms ease;
    background-color: var(--red_2);
}

.widget_button:hover {
    background-color: var(--red_1);
}

.widget_button:active {
    box-shadow: none;
    transform: translate(1px, 2px);
    background-color: var(--red_0);
}

.widget_button svg {
    height: 27px;
    width: 27px;
    fill: var(--fg_0);
}

#users_area {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0px var(--bg_0);
    display: flex;
    box-sizing: border-box;
    flex: none;
    padding: 16px;
    background-color: var(--bg_3);
}

#users_list {
    width: 100%;
    height: 100%;
    column-gap: 8px;
    row-gap: 8px;
    display: flex;
    margin-right: 16px;
    overflow: scroll;
    background-color: var(--bg_3);
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
}

.user_box {
    height: calc(86% - 4px);
    aspect-ratio: 1.0;
    border-radius: 8px;
    border: 2px solid var(--fg_6);
    z-index: 0;
    overflow: hidden;
}

.user_box_top {
    width: 100%;
    height: 80%;
    border-bottom: 2px solid var(--fg_6);
    position: relative;
}

.user_box_change_avatar {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    opacity: 0.0;
    background-color: var(--bg_4);
    transition: opacity 0.2s ease-out;
    display: flex;
    border: 2px solid var(--fg_3);
    /* box-shadow: 0 0 1px 2px var(--fg_1); */
}

.user_box_change_avatar:hover {
    background-color: var(--bg_5);
    border-color: var(--fg_2);
}

.user_box_change_avatar:active {
    background-color: var(--green_2);
    border-color: var(--fg_1);
}

.user_box:hover .user_box_change_avatar {
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
}

.user_box_change_avatar svg {
    height: 15px;
    width: 15px;
    fill: var(--fg_0);
}

.user_box_bottom {
    width: 100%;
    height: 20%;
    display: flex;
}

.user_box_bottom input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--fg_1);
    background-color: var(--bg_5);
    cursor: pointer;
}

.user_box_bottom input::selection {
    background-color: var(--fg_6);
}

.user_box.selfbox {
    border-color: var(--fg_4);
}

.user_box.selfbox .user_box_top {
    border-color: var(--fg_4);
}

.user_box.selfbox .user_box_shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px var(--fg_1) inset;
}

.user_box.selfbox user_box_bottom input {
    padding-left: 8px;
}

.user_box.online .user_box_bottom input {
    background-color: var(--green_0);
}

.user_box.online .user_box_edit_name_button {
    background-color: var(--green_0);
}

.user_box.online .user_box_edit_name_button:hover {
    background-color: var(--green_1);
}

.user_box.online .user_box_edit_name_button:active {
    background-color: var(--green_2);
}

.user_box_edit_name_button {
    height: 100%;
    width: 0;
    border-left: none;
    background-color: var(--bg_5);
    transition: all 200ms;
}

.user_box_edit_name_button:hover {
    background-color: var(--bg_6);
}

.user_box_edit_name_button:active {
    border-left: 2px solid var(--gray_2);
    background-color: var(--gray_2);
}

.user_box_bottom input:focus+.user_box_edit_name_button,
.user_box:hover .user_box_edit_name_button {
    width: 30px;
    border-left: 2px solid var(--fg_4);
    transition: all 200ms;
}

.user_box_bottom input:focus+.user_box_edit_name_button svg,
.user_box:hover .user_box_edit_name_button svg {
    height: 12px;
    width: 12px;
    transition: all 200ms;
}

.user_box_edit_name_button svg {
    height: 0;
    width: 0;
    fill: var(--fg_2);
    transition: all 200ms;
}

#users_right_panel {
    height: 100%;
    width: 106px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

#users_online {
    background-color: var(--green_0);
}

#users_offline {
    margin-top: 6px;
    background-color: var(--bg_5);
}

.users_indicator {
    height: 34px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--fg_6);
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.users_indicator svg {
    width: 40%;
    height: calc(100% - 10px);
    fill: var(--bg_0);
}

.users_indicator span {
    width: 60%;
    height: calc(100% - 8px);
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: var(--fg_1);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

#users_settings_button {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 6px;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--bg_3);
    cursor: pointer;
}

#users_settings_button svg {
    width: 90%;
    height: 90%;
    fill: var(--fg_2);
}

#users_settings_button:hover {
    background-color: var(--bg_4);
}

#users_settings_button:hover svg {
    fill: var(--fg_1);
}

#users_settings_button:active {
    border: 2px solid var(--fg_6);
    background-color: var(--bg_4);
}

#right_panel {
    height: 100%;
    border-radius: 12px;
    display: flex;
    position: relative;
    flex: 1 1 500px;
    background-color: var(--bg_1);
    flex-direction: column;
}

#right_panel_tabs {
    height: 60px;
    width: calc(100% - 32px);
    column-gap: 6px;
    display: flex;
    margin: 16px 16px 0 16px;
}

.right_panel_tab {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0px var(--bg_0);
    column-gap: 6px;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    background-color: var(--bg_2);
    color: var(--fg_4);
    transition: height 100ms ease;
    cursor: pointer;
}

.right_panel_tab:hover {
    color: var(--fg_3);
}

.right_panel_tab:active {
    background-color: var(--bg_3);
}

.right_panel_tab.selected {
    height: calc(100% + 12px);
    background-color: var(--bg_3);
    transition: height 100ms ease;
}

.right_panel_tab svg {
    height: 20px;
    width: 20px;
    fill: var(--fg_4);
}

.right_panel_tab:hover svg {
    fill: var(--fg_3);
}

#right_panel_content {
    height: 100%;
    width: calc(100% - 32px);
    border-radius: 8px;
    box-shadow: 2px 4px 4px var(--bg_0);
    position: relative;
    margin: 0 16px 16px 16px;
    background-color: var(--bg_3);
}

.content_view {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* visibility: hidden; */
    display: none !important;
    position: absolute;
    padding: 16px;
}

.content_view.selected {
    visibility: visible;
    display: flex !important;
}

#content_room {
    height: 100%;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
}

#room_entry_proxy {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 6px;
}

#room_entry_proxy_enabled {
    width: 180px;
}

#room_media_section {
    height: 120px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    column-gap: 12px;
}

#room_upload_media_root {
    width: 56%;
    height: 100%;
}

#room_upload_media_placeholder {
    width: 100%;
    height: 100%;
    padding: 8px;
    border: 2px dashed var(--fg_4);
    border-radius: 8px;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

#room_upload_media_placeholder:hover {
    border: 2px dashed var(--green_1);
}

#room_upload_media_placeholder:hover #room_upload_media_icon {
    background-color: var(--green_1);
}

#room_upload_media_placeholder:active {
    border: 2px dashed var(--green_2);
}

#room_upload_media_placeholder:active #room_upload_media_icon {
    background-color: var(--green_2);
}

#room_upload_media_placeholder:active #room_upload_media_icon svg {
    fill: var(--fg_3);
}

#room_upload_media_placeholder:active #room_upload_media_text {
    color: var(--fg_3);
}

#room_upload_media_placeholder:active #room_upload_media_text_click {
    color: var(--purple_2);
}

#room_upload_media_icon {
    width: 42px;
    height: 42px;
    background-color: var(--bg_5);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 4px -1px var(--bg_0);
}

#room_upload_media_icon svg {
    width: 22px;
    height: 22px;
    fill: var(--fg_4);
}

#room_upload_media_text {
    display: flex;
    flex-direction: column;
    color: var(--fg_4);
    text-align: center;
    user-select: none;
}

#room_upload_media_text_click {
    font-weight: bold;
    text-decoration: underline;
    color: var(--purple_1);
}

#room_upload_media_progress {
    width:  100%;
    height: 100%;
    padding: 12px;
    border: 2px groove var(--fg_4);
    border-radius: 8px;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    color: var(--fg_4);
}

#room_upload_media_progress_text {
    font-weight: bold;
}

#room_upload_media_progress_bar {
    position: relative;
    width: 100%;
    height: 12px;
    border-radius: 4px;
    background-color: var(--bg_5);
    border: 2px solid var(--green_1);
}

#room_upload_media_progress_bar_current {
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: var(--green_1);
}

#room_upload_media_progress_top, #room_upload_media_progress_bottom {
    width: 100%;
    display: flex;
}

#room_upload_media_progress_percent, #room_upload_media_progress_transfer {
    margin-left: auto;
    margin-right: 0;
}

#room_upload_media_progress.hide {
    display: none;
}

#room_upload_media_placeholder.hide {
    display: none;
}

#room_media_browse {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    text-align: center;
    align-items: center;
    color: var(--fg_4);
    font-weight: bold;
}

#room_media_browse_separator {
    height: 1px;
    width: 100%;
    background-color: var(--bg_5);
}

#room_media_browse_buttons {
    width: 100%;
    flex-grow: 1.0;
    display: grid;
    box-sizing: border-box;
    /* padding: 0 22px; */
    row-gap: 8px;
    column-gap: 8px;
}

#room_media_browse_buttons button {
    display: flex;
    column-gap: 8px;
}

#room_media_browse_buttons span {
    color: var(--bg_0);
    font-weight: bold;
}

#room_media_browse_buttons svg {
    height: 20px;
    width: 20px;
    fill: var(--bg_0);
}

#room_media_browse_button_video {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--blue_2);
}

#room_media_browse_button_video:hover {
    background-color: var(--blue_1);
}

#room_media_browse_button_video:active {
    background-color: var(--blue_0);
}

#room_media_browse_button_audio {
    grid-row: 1;
    grid-column: 2;
    background-color: var(--green_2);
}

#room_media_browse_button_audio:hover {
    background-color: var(--green_1);
}

#room_media_browse_button_audio:active {
    background-color: var(--green_0);
}

#room_media_browse_button_subtitles {
    grid-row: 2;
    grid-column: 1;
    background-color: var(--yellow_2);
}

#room_media_browse_button_subtitles:hover {
    background-color: var(--yellow_1);
}

#room_media_browse_button_subtitles:active {
    background-color: var(--yellow_0);
}

#room_media_browse_button_images {
    grid-row: 2;
    grid-column: 2;
    background-color: var(--orange_2);
}

#room_media_browse_button_images:hover {
    background-color: var(--orange_1);
}

#room_media_browse_button_images:active {
    background-color: var(--orange_0);
}

#room_entry_url {
    height: 30px;
}

#room_entry_title {
    height: 36px;
}

#room_upload_file {
    color: var(--fg_4);
}

#room_random_buttons_group {
    display: flex;
    column-gap: 12px;
}

#room_random_buttons_group button {
    width: 140px;
    height: 36px;
    column-gap: 6px;
    background-color: var(--fg_6);
}

#room_random_buttons_group button:hover {
    background-color: var(--fg_5);
}

#room_random_buttons_group button:active {
    background-color: var(--fg_4);
}

#room_random_buttons_group button svg {
    width: 20px;
    height: 20px;
    fill: var(--bg_0);
}

#room_random_buttons_group button span {
    font-weight: bold;
    color: var(--bg_0);
}


.placeholder {
    color: var(--fg_4);
}

@keyframes sway {
    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(8deg);
    }
}

.construction_anim {
    width: 300px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    animation: sway 2.4s infinite;
    animation-timing-function: ease-in-out;
    transform-origin: top;
}

@media (max-width: 1300px) {
    #root_panel {
        height: auto;
        flex-direction: column;
    }

    #left_panel {
        height: auto;
    }

    #right_panel {
        min-height: 100vh;
        overflow-y: visible;
    }

    #entry_area.expand #entry_dropdown_container {
        height: 358px;
        padding-top: 6px;
    }

    #entry_youtube_section {
        height: 100px;
    }

    #entry_youtube_toggles_group {
        flex-direction: column;
        box-sizing: border-box;
        row-gap: 8px;
    }

    #entry_youtube_inputs_group {
        height: 44px;
        flex-direction: column;
        box-sizing: border-box;
        row-gap: 8px;
    }
}

@media (max-width: 700px) {
    #root_panel {
        padding: 0;
    }

    #player_area {
        height: 340px;
        min-height: 340px;
    }

    #left_panel {
        padding: 6px;
        row-gap: 8px;
    }

    #entry_area {
        padding: 6px;
    }

    #users_area {
        height: 260px;
        padding: 8px;
    }

    #users_list {
        column-gap: 4px;
        row-gap: 4px;
        align-content: flex-start;
        flex-direction: column;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .user_box {
        height: calc(50% - 8px);
        width: 110px;
    }

    #users_right_panel {
        width: 86px;
    }

    #right_panel_tabs {
        width: calc(100% - 12px);
        margin: 6px 6px 0 6px;
    }

    #right_panel_content {
        width: calc(100% - 12px);
        margin: 0 6px 6px 6px;
    }

    .content_view {
        padding: 8px;
    }


    #room_media_section {
        column-gap: 6px;
    }
}
