#player_container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

#player_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#player_controls {
    width: 100%;
    height: 64px;
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    justify-content: flex-start;
    align-items: center;
}

/* #player_controls > div { */
/*     width: 30px; */
/*     height: 30px; */
/*     display: flex; */
/*     margin: 5px; */
/*     background-color: rgba(255, 255, 255, 0.2); */
/*     justify-content: center; */
/*     align-items: center; */
/* } */

#player_timestamp_slider {
    position: absolute;
    /* bottom: 40px; */
    top: 0;
    width: 100%;
    height: 10px;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
}

#player_timestamp_slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: rgba(204, 204, 204, 0.5);
}

#player_timestamp_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 0, 0, 0.5);
    width: 5px;
    height: 10px;
    cursor: pointer;
}

#player_timestamp_slider::-moz-range-track {
    height: 10px;
    background: rgba(204, 204, 204, 0.5);
}

#player_timestamp_slider::-moz-range-progress {
    height: 10px;
    background: rgba(255, 0, 0, 0.5);
}

#player_timestamp_slider::-moz-range-thumb {
    width: 5px;
    height: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
}

#player_play_toggle {
    width: 40px;
    height: 40px;
    bottom: 0;
    display: flex;
    margin-left: 8px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
}

#player_next {
    width: 40px;
    height: 40px;
    bottom: 0;
    display: flex;
    margin-left: 8px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
}

#player_volume {
    width: 40px;
    height: 40px;
    bottom: 0;
    display: flex;
    margin-left: 8px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
}

#player_volume_slider {
    height: 40px;
    width: 160px;
    bottom: 0;
    display: flex;
    margin-left: 8px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
}

#player_timestamp {
    color: white;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 14px;
    align-self: center;
}

#player_subs {
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 8px;
    margin-top: 8px;
}

#player_settings {
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    display: flex;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 8px;
    margin-top: 8px;
}

#player_fullscreen {
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 8px;
    margin-top: 8px;
}

#player_buffering {
    width: 200px;
    height: 200px;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    position: absolute; 
    margin: auto;
    animation: spin 4s linear infinite;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
