#root_panel {
    height: 1200px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

#left_panel {
    /* width: 70%; */
    height: 100%;
    position: relative;
    /* height: 100%; */
    background: red;
    flex: 4 1 600px;
}

#player_area {
    width: calc(100% - 32px);
    height: 64%;
    margin: 16px;
    align-items: center;
    justify-content: center;
    background: purple;
}

#url_area {
    width: calc(100% - 32px);
    /* height: 10%; */
    height: auto;
    margin: 16px;
    background: blue;
}

#url_controls_container {
    width: 100%;
    height: 40px;
    display: flex;
    margin: 0px;
    background: darkblue;
}

#url_left_buttons_container {
    width: 25px;
    height: 100%;
    background: green;
}

.fit_to_div {
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
}

#url_input_container {
    width: 86%;
    height: 100%;
}

#url_right_buttons_container {
    width: calc(100% - 86% - 25px);
    height: 100%;
    display: flex;
}

#url_controls_set {
    width: 50%;
}

#url_controls_add_playlist {
    width: 50%;
}

#url_dropdown_container {
    height: 80px;
    width: 100%;
    /* display: none; */
    background: purple;
}

#url_dropdown_top {
    height: 50%;
    width: 100%;
    display: flex;
    background: darkcyan;
}

#url_dropdown_bottom {
    height: 50%;
    width: 100%;
    display: flex;
    background: darkblue;
}

#users_area {
    width: calc(100% - 32px);
    height: 150px;
    display: flex;
    margin: 16px;
    background: cyan;
    overflow: auto;
}

.user_box {
    height: calc(100% - 16px);
    aspect-ratio: 1 / 1;
    margin: 8px;
    background: purple;
}

#right_panel {
    /* width: 30%; */
    height: 100%;
    min-width: 500px;
    position: relative;
    /* height: 100%; */
    background: green;
    flex: 1;
}
