[Unit]
Description=PocketWatch startup service
After=network.target

[Service]
Type=oneshot
WorkingDirectory=%h/PocketWatch/scripts
ExecStart=/bin/sh onboot.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
